:markdown
  From [Stephen Tudor](http://www.stephentudor.com) and [John Michel](http://cowbird.org)
script(src='/javascripts/lib/imagesloaded.pkgd.min.js')
script(src='/javascripts/lib/packery.pkgd.min.js')
script(src='/javascripts/imgges.js')

