extends layout

block content
  h1= title
  p Welcome to #{title}
    ul
      each image, index in settings.images
        li
          a(href="#{image.url}", target="_blank")
            img(src="#{image.url}")
